@import url('../css/teacher_list/main.css');
@import url('../css/user_detail/main.css');
@import url('../css/schedule_tutors/main.css');
@import url('../css/register_schedule_tutors/main.css');
@import url('../css/saved_tutors/main.css');
@import url('../css/login/main.css');
@import url('../css/navbar/main.css');
@import url('../css/footer/main.css');
@import url('../css/404/main.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
   
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
    margin-bottom: 24px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #ecf2f5;
    border-radius: .25rem;
}

.opacity-5 {
    opacity: .5!important;
}

a, a:hover{
    text-decoration: none !important;
}

