


.avatar-sm {
    height: 4.5rem;
    width: 4.5rem;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.font-13 {
    font-size: 0.85rem !important;
}

.font-16 {
    font-size: 1rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.me-2 {
    margin-right: .75rem !important;
}

.avatar-md {
    height: 3.5rem;
    width: 3.5rem;
}



.table-schedule-tutor td:not(:first-child){
    width: 26.666666666667% !important;
}
.table-schedule-tutor td:not(:last-child){
    width: 26.666666666667% !important;
}

/* cột đầu tiên */
.table-schedule-tutor td:first-child:last-child{
    width: 10% !important;
}
/* cột đầu tiên */
.table-schedule-tutor td:last-child{
    width: 10% !important;
}
.table-schedule-user td{
    width: 25% !important;
}