.wrap {
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
    .wrap .img {
      height: 200px; }

.login-wrap {
    position: relative;
}

.login-wrap h3,
.login-wrap .h3 {
    font-weight: 300;
}

.form-group {
    position: relative;
    z-index: 0;
    margin-bottom: 1.6rem !important;
}

.form-group a {
    color: #b5b8c5;
}

.form-control {
    height: 48px;
    background: #fff;
    color: #363945;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.2) !important;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
    border: 1px solid #01d28e;
}

.field-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: rgba(0, 0, 0, 0.3);
}

.form-control-placeholder {
    position: absolute;
    top: 2px;
    padding: 7px 0 0 15px;
    transition: all 400ms;
    opacity: 0.6;
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
    transform: translate3d(0, -120%, 0);
    padding: 7px 0 0 0;
    opacity: 1;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #01d28e;
    font-weight: 700;
}

.social-media {
    position: relative;
    width: 100%;
}

.social-media .social-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 16px;
    margin-right: 5px;
    border-radius: 50%;
}

.social-media .social-icon span {
    color: #63666e;
}

.social-media .social-icon:hover,
.social-media .social-icon:focus {
    background: #01d28e;
}

.social-media .social-icon:hover span,
.social-media .social-icon:focus span {
    color: #fff;
}

.checkbox-wrap {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark-sign {
    position: absolute;
    top: 0;
    left: 0;
}

/* Create the checkmark-sign/indicator (hidden when not checked) */
.checkmark-sign:after {
    content: "\f0c8";
    font-family: "FontAwesome";
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: -4px;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    .checkmark-sign:after {
        transition: none;
    }
}

/* Show the checkmark-sign when checked */
.checkbox-wrap input:checked~.checkmark-sign:after {
    display: block;
    content: "\f14a";
    font-family: "FontAwesome";
    color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark-sign/indicator */
.checkbox-primary {
    color: #01d28e;
}

.checkbox-primary input:checked~.checkmark-sign:after {
    color: #01d28e;
}

.btn {
    cursor: pointer;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #01d28e !important;
    border: 1px solid #01d28e !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    border: 1px solid #01d28e;
    background: transparent;
    color: #01d28e;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #01d28e;
    background: transparent;
    color: #01d28e;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #01d28e;
    color: #fff;
}