.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
    background-color: #00B98E !important;
    color: #fff !important;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.btn-about {
    background-color: #00B98E;
    color: #fff !important;
}

.carouselDanhGiaPhuHuynh .carousel-item {
    height: 40vh !important;
}

.carouselTrangChu .carousel-item {
    max-height: 80vh !important;
}


/* about  start */

.about-start {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-more-link a {
    transition: 0.7s;
    animation: animationMoreBtn 3s infinite;
    transition: transform 1s;
}

@keyframes animationMoreBtn {
    0% {
        background-color: #45B8AC;
        transform: scale(1);
    }
    100% {
        background-color: #00B98E;
        transform: scale(1.1);
    }
}

.about-more-link:hover a {
    background-color: #45B8AC;
}

.about-image-transiton {
    transition: transform 1s;
}

.about-image-transiton:hover {
    transform: rotate(6deg);
}


/* card-about-second */

.about-second {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-second-background {
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/554/612/non_2x/abstract-blue-wave-set-on-transparent-background-illustration-free-vector.jpg');
    background-size: cover;
}

.about-second .btn {
    padding: 0.7em;
    transition: transform 0.5s;
    background-color: #FAC213;
}

.about-second .btn:hover {
    transform: scale(1.1);
    background-color: #79C000;
}


/* card second */

.card-second-text {
    text-align: justify !important;
    font-size: 0.9em;
}

.card-second {
    transition: 0.3s ease;
}

.card-second:hover {
    transform: translateY(-10px);
    border: none;
    border-bottom: 10px solid #2196fe;
}


/* features */

.features-text {
    text-align: justify !important;
    font-size: 0.9em;
}

#features {
    padding-top: 100px;
    padding-bottom: 100px;
}

.features-background {
    background-image: url("../../public/images/background/background-trangchu-1.png");
    background-size: cover;
}


/* form register tutor */

.form-register-tutor form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    height: 100%;
    background-color: #9CB4CC;
    padding: 1em;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 17px 14px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.form-register-tutor form h3 {
    text-align: center;
    padding-bottom: 1em;
    font-weight: bold;
    color: #fff;
}

.form-register-tutor form .btn {
    background-color: #FF7F40;
    color: #fff;
    padding: 10px;
    transition: transform 0.5s;
}

.form-register-tutor form .btn:hover {
    background-color: #79C000;
    color: #fff;
    transform: scale(1.03);
}


/* ra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .carouselTrangChu .carousel-item {
        height: 20vh !important;
    }
    .carouselDanhGiaPhuHuynh .carousel-item {
        height: 30vh !important;
    }
    .form-register-tutor form {
        width: 90%;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
    .carouscarouselTrangChuel .carousel-item {
        height: 20vh !important;
    }
    .carouselDanhGiaPhuHuynh .carousel-item {
        height: 50vh !important;
    }
    /* form register tutor */
    .form-register-tutor form {
        width: 90%;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .carouselTrangChu .carousel-item {
        height: 30vh !important;
    }
    .carouselDanhGiaPhuHuynh .carousel-item {
        height: 35vh !important;
    }
    /* form register tutor */
    .form-register-tutor form {
        width: 90%;
    }
}


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .carouselTrangChu .carousel-item {
        max-height: 80vh !important;
    }
    .carouselDanhGiaPhuHuynh .carousel-item {
        max-height: 30vh !important;
    }
    /* form register tutor */
    .form-register-tutor form {
        width: 90%;
    }
}