.bg-notes{
    background-image: linear-gradient(to bottom right,   #5AA7A7 , #96D7C6) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-register{
    background-image: linear-gradient(to bottom right,   #5AA7A7 , #96D7C6) !important;
    color: rgb(255, 255, 255) !important;
}

.text-steal{
    color: #1f7776 !important;
}