#tutors .row>*{
    padding-left: 0.275rem !important;
    padding-right: 0.275rem !important;

}

#filter-subject::-webkit-scrollbar {
    width: 5px;
  }
#filter-subject::-webkit-scrollbar-thumb {
  background: #94c1bc !important; 
}

.wrapper {
    padding: 20px 0;
    max-width: 1200px;
    margin: auto
}

.h3 {
    font-weight: 900
}

.views {
    font-size: 0.85rem
}

/* .btn {
    color: #666;
    font-size: 0.85rem
}

.btn:hover {
    color: #61b15a
} */

.green-label {
    background-color: #defadb;
    color: #48b83e;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 0 3px
}

.radio,
.checkbox {
    padding: 6px 10px
}

.border {
    border-radius: 12px
}

.options {
    position: relative;
    padding-left: 25px
}

.radio label,
.checkbox label {
    display: block;
    font-size: 14px;
    cursor: pointer;
    margin: 0
}

.options input {
    opacity: 0
}

.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 50%
}

.options input:checked~.checkmark:after {
    display: block
}

.options .checkmark:after {
    content: "";
    width: 9px;
    height: 9px;
    display: block;
    background: white;
    position: absolute;
    top: 52%;
    left: 51%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark {
    background: #61b15a;
    transition: 300ms ease-in-out 0s
}

.options input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}

.count {
    font-size: 0.8rem
}

label {
    cursor: pointer
}

.tick {
    display: block;
    font-weight: 400;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 0.8rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

.tick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.check {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #f8f8f8;
    -moz-box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    border-radius: 3px
}

.tick:hover input~.check {
    background-color: #f3f3f3
}

.tick input:checked~.check {
    background-color: #61b15a
}

.check:after {
    content: "";
    position: absolute;
    display: none
}

.tick input:checked~.check:after {
    display: block;
    transform: rotate(45deg) scale(1)
}

.tick .check:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) scale(2)
}

#country {
    font-size: 0.8rem;
    border: none;
    border-left: 1px solid #ccc;
    padding: 0px 10px;
    outline: none;
    font-weight: 900
}

.close {
    font-size: 1.2rem;
    cursor: pointer;
}

div.text-muted {
    font-size: 0.85rem
}

#sidebar {
    display: block;
    width: 25%;
    float: left;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}

.category {
    position: relative;
    font-size: 0.9rem;
    cursor: pointer
}

.list-group-item {
    border: none !important;
    /* padding: 0.3rem 0.4rem 0.3rem 0rem */
}

.badge-primary {
    background-color: #009688;
    color: #fff !important;
}

.brand .check {
    background-color: #fff;
    top: 3px;
    border: 0.1px solid rgba(83, 83, 83, 0.278) !important;
    -moz-box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 12%);
    box-shadow: 0 2px 3px rgba(21, 20, 20, 0.07);
}

.brand .tick {
    font-size: 1rem;
    padding-left: 25px
}

.rating .check {
    background-color: #fff;
    border: 1px solid #666;
    top: 0
}

.rating .tick {
    font-size: 0.9rem;
    padding-left: 25px
}

.rating .fas.fa-star {
    color: #ffbb00;
    padding: 0px 3px
}

.brand .tick:hover input~.check,
.rating .tick:hover input~.check {
    background-color: #f9f9f9
}

.brand .tick input:checked~.check,
.rating .tick input:checked~.check {
    background-color: #009688;
}

#tutors {
    width: 75%;
    padding-left: 30px;
    margin: 0;
    float: right;
  
}

.card-tutor:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

/* .card-body {
    padding: 0.5rem
} */

.card-body .description-intro {
    display: block;
    font-size: 0.925rem;
    font-weight: 500;
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* .card-body .description.product {
    font-size: 0.925rem;
    font-weight: 500 !important;

    padding-bottom: 8px;
} */

div.h6,
h6 {
    margin: 0
}

.product .fa-star {
    font-size: 0.9rem
}

.rebate {
    font-size: 0.9rem
}

.btn-tutor-detail {
    background-color: #0062C3 !important;
    color: #fff !important;
    border: none;
    border-radius: 10px !important;
    font-weight: 500 !important;
}

.btn-tutor-detail:hover {
    background-color: #0353a3 !important
}

.btn{
    border-radius: 10px !important;
}

.img-teacher > img {
    width: inherit !important;
    height: 189px;
    object-fit: cover;
}

.clear {
    clear: both
}

/* .btn.btn-success {
    visibility: hidden
} */

@media(min-width:992px) {

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:768px) and (max-width:991px) {

    .radio,
    .checkbox {
        padding: 6px 10px;
        width: 49%;
        float: left;
        margin: 5px 5px 5px 0px
    }

    .filter,
    #mobile-filter {
        display: none
    }
}

@media(min-width:576px) and (max-width:767px) {
    #sidebar {
        width: 35%
    }

    #tutors {
        width: 65%
    }

    .filter,
    #mobile-filter {
        display: none
    }

    .h3+.ml-auto {
        margin: 0
    }
}

@media(max-width:575px) {
    .wrapper {
        padding: 10px
    }

    .h3 {
        font-size: 1rem;
    }

    #sidebar {
        display: none
    }

    #tutors {
        width: 100%;
        float: none
    }

    #tutors {
        padding: 0
    }

    .clear {
        float: left;
        width: 80%
    }

    .btn.btn-success {
        visibility: visible;
        margin: 10px 0px;
        color: #fff;
        padding: 0.2rem 0.1rem;
        width: 20%
    }

    .green-label-filter {
        width: fit-content;
        
    }

    .btn.text-success {
        padding: 0
    }

    .content,
    #mobile-filter {
        clear: both
    }
}

@media only screen and (min-width: 576px) {

    .card-tutor{
        min-height: 441px;
    }
}


.subject-active {
    background-color: #35a79c !important;
    color: #fff !important;
}

.card {
    -moz-box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}

/* .img-teacher{
    width: 100%;
    height: 5rem;
} */
/* .content{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
} */
.limit-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
 }