.post-header {
    width: 100%;
    height: 500px;
    max-height: 500px !important;
    position: relative;
}

.post-header .image {
    width: 100%;
    height: 500px;
    max-height: 500px !important;
    /* background-image: url("https://wallpaperaccess.com/full/5163201.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    background-position: center;
    position: absolute;
    top: 0%;
    left: 0%;
    /* filter: blur(3px); */
}

.post-header h1 {
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
}

#post-body {
    display: block;
    margin-top: 5rem;
}

.post-body-content {
    text-align: justify;
    font-size: 18px;
}

.post-body-author {
    padding-top: 2rem;
    display: block;
}


/* căn giữa hình ảnh trong bài viết  */

.VCSortableInPreviewMode {
    text-align: center !important;
}


/* bài viết liên quan */

.lienquan h3 span {
    padding: 1px;
    background-color: rgb(255, 243, 243);
    font-size: 28px;
    font-weight: 600;
}

.lienquan h3 {
    border-bottom: 1px solid #333;
    margin-bottom: 1rem;
}

.post-new {
    margin-bottom: 1rem;
    padding-top: 1rem;
    height: 7rem;
}

.post-new img {
    float: left;
    border-radius: 10px;
    width: 13rem;
    height: 7rem;
    margin-right: 0.5rem;
    object-fit: cover;
}

.post-new h5 {
    color: #333;
    font-size: 18px;
}

.post-new h5:hover {
    color: #eb0000;
}

.post-new h5:active {
    color: #0312e7;
}

@media (max-width: 500px) {
    .post-header .image {
        display: none;
    }
    .post-header h1 {
        color: #333;
        font-size: 1.7rem;
    }
    .post-header {
        height: 343px;
    }
    #post-body {
        margin-top: 0.5rem;
    }
    .post-body-content {
        font-size: 14px;
    }
    .lienquan h3 span {
        font-size: 18px;
    }
    /* post-body-author */
    .post-body-author {
        font-size: 14px;
    }
    /* post new   */
    .post-new {
        height: 5rem;
    }
    .post-new img {
        width: 8rem;
        height: 4rem;
    }
    .post-new h5 {
        font-size: 14px;
    }
}


/* .post-new h5 {
    max-height: 3.2rem;
    overflow: hidden;
} */