


.avatar-sm {
    height: 4.5rem !important;
    width: 4.5rem !important;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.font-13 {
    font-size: 0.85rem !important;
}

.font-16 {
    font-size: 1rem !important;
}



.me-2 {
    margin-right: .75rem !important;
}


.table-schedule-tutor thead tr th:nth-child(2){ /* cột 2 */
    width: 26.666666666667% ;
    min-width: 100px !important;
}

.table-schedule-tutor thead tr th:nth-child(3){ /* cột 3 */
    width: 26.666666666667% ;
    min-width: 150px !important;
}

.table-schedule-tutor thead tr th:nth-child(4){ /* cột 4 */
    width: 26.666666666667% ;
    min-width: 300px;
}

/* cột đầu tiên */
/* .table-schedule-tutor thead tr th:first-child{
    width: 10% !important;
    min-width: 100px !important;

} */
/* cột cuối */
.table-schedule-tutor thead tr th:last-child{
    width: 10% !important;
    min-width: 100px !important;

}
/* table schedule user */
.table-schedule-user thead tr th:last-child{
    width: 25% !important;
    min-width: 300px;
}


.table-schedule-user thead tr th:nth-child(2){
    width: 26.666666666667% ;
    min-width: 100px !important;
}
.table-schedule-user thead tr th:nth-child(3){
    width: 26.666666666667% ;
    min-width: 150px !important;
}